body{
	font-family: 'Raleway';
	background-color: rgb(39, 39, 39);
}

.my-box{
	height:150px;
	width:150px;
	line-height:150px;
	border:2px solid black;
	border-radius: 10px;
	box-shadow: inset 0px 0px 20px 10px rgb(131, 129, 112);
}

.my-bg-80s1{
	background-color: #EC00F8;
}
.my-bg-80s2{
	background-color: #106afb;
}
.my-bg-80s3{
	background-color: #E8010B;
}
.my-bg-80s4{
	background-color: #FDFF0B;
}

